@use "../abstracts";
.custom-checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid abstracts.$color-primary;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:checked {
    background-color: abstracts.$color-primary;
    border-color: abstracts.$color-primary;
  }

  &:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
