@use "../abstracts";

// Banner
.CulinaryRoots__Banner {
  background-size: 100% 400px;
  padding: 60px 20px;
  text-align: center;
  color: abstracts.$color-text-light;
  background-repeat: no-repeat;
  height: 400px;

  &Content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: 7rem;
  }

  &Title {
    font-size: 36px;
    margin-bottom: 10px;
    color: abstracts.$color-text-dark;
    font-weight: bold;
  }

  &Description {
    font-size: 18px;
    margin-bottom: 20px;
    color: abstracts.$color-text-dark;
  }
}

// main
.CulinaryRoots__MainContent {
  display: flex;
  gap: 20px;
  padding: 40px 20px;
}

//
.CulinaryRoots__Categories {
  width: 25%;
  padding: 0px 20px 0px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // Search Bar
  .CulinaryRoots__SearchBar {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    position: fixed;
    top: 20px;
    align-self: flex-start;
    height: fit-content;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &Input {
      flex: 1;
      padding: 10px 10px;

      font-size: 16px;
      border: none;
      outline: none;
    }

    &Button {
      background-color: abstracts.$color-primary;
      color: abstracts.$color-text-light;
      padding: 11px 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: darken(abstracts.$color-primary, 10%);
      }
    }
  }

  &Title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 29px;
    color: abstracts.$color-primary;
    font-weight: bold;
  }

  &Items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  //
  .CulinaryRoots__CategoryCard {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid abstracts.$color-primary;

    background-color: white;
    color: abstracts.$color-primary;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s, color 0.3s,
      box-shadow 0.3s;
  }
  .CulinaryRoots__CategoryCard:hover {
    transform: scale(1.05);
    background-color: abstracts.$color-primary;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
// Layout
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Recipe Card */
.recipe-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-content {
  padding: 15px;
  text-align: left;
}

.recipe-title {
  margin-top: 6px;
  @include abstracts.max-line(1);
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px;
}

.recipe-description {
  @include abstracts.max-line(2);
  font-size: 1.3rem;
  color: #666;
  margin: 0 0 15px;
}

.recipe-link {
  font-size: 1.2rem;
  color: abstracts.$color-primary;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.recipe-link span {
  margin-left: 5px;
  transition: margin-left 0.2s;
}

.recipe-link:hover span {
  margin-left: 10px;
}

.Hidden {
  display: none;
}
.CulinaryRoots__RecipeListTitle {
  font-size: 20px;
  padding-left: 16px;
  margin-bottom: 29px;
  color: abstracts.$color-primary;
  font-weight: bold;
}
