@use "../abstracts";

.introduce-banner {
  position: relative;
  width: 100%;
  height: abstracts.$banner-height;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: abstracts.$banner-text-color;
    text-align: center;
    background: abstracts.$banner-overlay-color; // Optional for better text readability
    padding: 20px;
    border-radius: 5px;

    h1 {
      font-size: 2em;
      margin: 0;
    }

    p {
      font-size: 1.2em;
      margin: 5px 0 0;
    }
  }
}

.why-choose {
  text-align: center;
  margin-bottom: 50px;

  &__title {
    font-size: abstracts.$fs-h3;
    margin-bottom: 20px;

    @include abstracts.down(md) {
      font-size: 1.5em;
    }
  }

  &__highlight {
    color: #a0522d;
    font-weight: bold;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    gap: 20px;

    @include abstracts.down(md) {
      flex-direction: column;
    }
  }

  &__item {
    text-align: center;
    max-width: 400px;

    @include abstracts.down(sm) {
      max-width: 100%;
    }
  }

  &__icon {
    font-size: 3em;
    color: #333;
    margin-bottom: 10px;

    @include abstracts.down(sm) {
      font-size: 2.5em;
    }
  }

  &__item-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;

    @include abstracts.down(sm) {
      font-size: 1em;
    }
  }

  &__item-description {
    font-size: 0.9em;
    color: #666;

    @include abstracts.down(sm) {
      font-size: 0.8em;
    }
  }
}

.brand-introduction {
  padding: 40px 0;

  .content {
    display: flex;
    gap: 10px;
    margin: 0 auto;

    @include abstracts.down(md) {
      flex-direction: column;
    }

    .image-container {
      flex: 1;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 550px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .text-content {
      flex: 1;
      padding: 20px;

      h2 {
        font-size: 2.4rem;
        color: #8b4513;
        margin-bottom: 20px;

        @include abstracts.down(sm) {
          font-size: 2rem;
        }
      }

      p {
        font-size: 1.6rem;
        color: #555;
        margin-bottom: 15px;
        line-height: 1.6;
        text-align: justify;

        @include abstracts.down(xs) {
          font-size: 1.4rem;
        }
      }

      .cta-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        padding: 10px 20px;
        background-color: #fff;
        color: abstracts.$color-primary;
        border: 1px solid abstracts.$color-primary;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: color 0.4s ease;

        @include abstracts.down(sm) {
          font-size: 1.4rem;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: abstracts.$color-primary;
          transform: translateX(-100%);
          transition: transform 0.4s ease;
          z-index: -1;
        }

        &:hover::before {
          transform: translateX(0);
        }

        &:hover {
          color: #fff;
          z-index: 1;
        }
      }
    }
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

.philosophy {
  min-height: 450px;
  &__item {
    flex: 1 1 300px;
    position: relative;
    max-width: 300px;
    margin-bottom: 2rem;
    cursor: pointer;
    &:hover .philosophy__item-inner {
      transform: rotateY(180deg);
    }

    @include abstracts.down(md) {
      max-width: 50%;
    }

    @include abstracts.down(sm) {
      max-width: 100%;
    }
  }

  &__items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    @include abstracts.down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    text-align: center;
    font-size: 2em;
    color: #a0522d;
    margin-bottom: 30px;

    @include abstracts.down(sm) {
      font-size: 1.8em;
    }
  }

  &__item-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
  }

  &__image,
  &__text-content {
    position: absolute;
    width: 100%;
    height: 320px;
    backface-visibility: hidden; // Ẩn mặt sau khi quay
    border-radius: abstracts.$radius-md;
  }

  &__image {
    width: 100%;
    height: 320px;
    border-radius: abstracts.$radius-md;
    transform: rotateY(0); // Đặt ảnh ở mặt trước
    object-fit: cover;

    @include abstracts.down(md) {
      height: 250px;
    }

    @include abstracts.down(sm) {
      height: 200px;
    }
  }

  &__text-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: abstracts.$light-background;
    height: 320px;
    border: solid 1px abstracts.$color-primary-dark;
    transform: rotateY(180deg); // Đặt nội dung ở mặt sau
    padding: 10px;
    font-size: 1em;
    color: #333;
    border-radius: abstracts.$radius-md;
  }
}
