@use '../abstracts';

.breadcrumb-nav {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;

    .breadcrumb-link {
        text-decoration: none;
        font-weight: 500;
        transition:  0.3s ease, transform 0.2s ease;
        color: abstracts.$color-primary;

        &:hover {
            transform: translateY(-1px);
            text-decoration: none;
        }
    }

    .breadcrumb-separator {
        margin: 0 8px;
        color: abstracts.$color-text-gray;
    }

    .breadcrumb-current {
        color: abstracts.$color-text-dark;
        font-weight: 500;
    }
}

.page-title {
    font-size: 23px;
    font-weight: bold;
    color: abstracts.$color-primary;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 80px;
        height: 4px;
        background-color: abstracts.$color-primary;
        margin: 10px auto 0;
        border-radius: 2px;
    }
}

.policy-page {
    display: flex;
    margin: 20px auto;
    padding: 20px;
    background-color: abstracts.$color-text-light;
    border-radius: 8px;
    box-shadow: 0 0 10px abstracts.$shadow-color;

    .sidebar {
        width: 25%;
        padding: 10px;
        border-right: 1px solid abstracts.$border-color;

        h2 {
            font-size: 1.2em;
            margin-bottom: 20px;
            color: abstracts.$color-primary;
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: abstracts.$color-primary;
                    padding: 8px 12px;
                    display: block;
                    border-radius: 6px;
                    transition: color 0.3s ease, background-color 0.3s ease, transform 0.2s ease;

                    &:hover {
                        color: abstracts.$color-text-light;
                        background-color: abstracts.$color-primary;
                        transform: translateX(5px);
                    }

                    &.active {
                        color: abstracts.$color-text-light;
                        background-color: abstracts.$store-secondary-color;
                        transform: translateX(5px);
                    }
                }
            }
        }
    }

    .content {
        width: 75%;
        padding: 20px;
        word-wrap: break-word;

        .section-content {
            padding: 20px;
            background-color: abstracts.$store-background-light;
            border-radius: 8px;
            margin-bottom: 30px;
            box-shadow: 0 4px 10px abstracts.$shadow-color;
        }

        .section-title {
            font-size: 1.5em;
            font-weight: 600;
            color: abstracts.$color-text-dark;
            margin-bottom: 15px;
            text-align: left;
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 40px;
                height: 3px;
                background-color: abstracts.$border-color;
                margin-top: 5px;
                border-radius: 2px;
            }
        }

        .faq-item {
            margin-bottom: 20px;
            padding: 10px 0;
            border-bottom: 1px solid abstracts.$border-color;

            .question {
                font-size: 1em;
                font-weight: bold;
                color: abstracts.$color-text-dark;
                margin-bottom: 5px;
            }

            .answer {
                font-size: 1em;
                color: #333;
                font-weight: normal;
                line-height: 1.6;
            }
        }
    }
}

.section-content {
    display: none;
}

.section-content.active {
    display: block;
}

.section-text {
    font-size: 1.1em;
    font-weight: bold;
    color: abstracts.$color-text-dark;
    line-height: 1.8;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.policy-item {
    font-size: 1em;
    font-weight: bold;
    color: abstracts.$color-text-dark;
    line-height: 1.6;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;

    &:before {
        content: "✔";
        position: absolute;
        left: 0;
        color: abstracts.$color-primary;
    }
}

.policy__contact-item {
    font-size: 1em;
    font-weight: bold;
    color: abstracts.$color-text-dark;
    line-height: 1.6;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;

    &:before {
        content: "✔";
        position: absolute;
        left: 0;
        color: abstracts.$color-primary;
    }
}
