@use '../abstracts';

.checkout__container {
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px 0;

    .checkout__form,
    .summary {
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #ffffff;
    }

    .checkout__form { 
        overflow-y: auto;
        display: grid; 
        grid-template-columns: 80%; 
        justify-content: center;   
        align-items: start;
        &-title {
            font-size: 20px; 
            margin-bottom: 10px;
        }
        &-login {
            text-align: end;
            
            a {
                text-decoration: none;
                font-size: 12px; 
            }
        }
        &-top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: start;
         }   
        .checkbox__group {
            display: flex;
            align-items: center;
            // margin-top: 10px;
            padding: 10px 0px;

            .subscribe {

            }
            input {
                width: auto;
                margin-right: 5px;
            }
        }
        .form-group {
            .show-image {
                display: none;
                border-top: 0px !important;
                border: 1px solid #b4b4b4;
                padding: 10px;
            }
            .qrcode-checkout
            { 
                &__details { 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align:center;
                    padding: 8px;
                    
                    p, span {
                        margin: 6px ;
                    }
                    span {
                        font-weight: 700;
                    }
                }
                &__image {
                   
                img {
                    width: 130px;
                    align-items: center;
                }

                }
                &__manager {
                    span {
                        text-align: center;
                    }
                }
                
                
            }
            // padding: 8px 0px;
            label {
                padding: 8px 0px ;
            }
            .radio-label {
                display: flex;
                align-items: center;
                padding: 10px; 
                border: solid 1px;
                border-radius: 5px;
                margin-bottom: 5px;
            }

            &--name { 
                display: flex;
                overflow: hidden;
                gap: 24px;
                margin-bottom: 1rem;

                input { 
                    flex: 1; 
                    width: 100%;
                    @include abstracts.input-style;
                    
                }
                
            } 

            input[type='radio'] {
                width: 24px !important;
            } 
                .radio-label {
                    width: auto;
                    margin-right: 5px;
                    outline: none;
                    
                }
                
            .btn {
                margin-top: 1rem;
                padding: 10px;
                width: 100%;
                background-color: #000000;
                font-size: 14px;
                color: #ddd;
                border-radius: 5px;
                transition: 2s;
            }  
            .btn:hover {
                background-color: #000000;
                // opacity: 0.5;
                
            }   
        }

        
    }

    .summary {
        
        &__item {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            padding-bottom: 14px;
        }

        &__image {
            img {
                width: 64px;
                height: 64px;
                margin-right: 14px;
                border: solid #333 0.4px;
            }
        }
        &__title {
            font-size: 20px;
            margin-bottom: 10px;
        }
        &__name {
            flex-grow: 1;
            display: inline-block;
            @include abstracts.max-line(2);
        }
        &__details {
            // display: flex;
            // gap: 8px;
        }
        &__origin { 
            margin-top: 8px;
            p, span{
                display: inline-block;
                font-size: 12px;
            }
            span {
                font-weight: 700;
            }
        }
        &__price {
            margin-left: auto;
            text-align: right;
        }

        &__voucher {
            padding: 14px 0px;
            display: grid;
            grid-template-columns: 75% 25%;
            gap: 8px;
            align-items:center;

            input {
                // width: 100%;
                // padding: 10px;
                // font-size: 14px;
                // border: 1px solid #ddd;
                // border-radius: 4px;
                @include abstracts.input-style;
            }

            .btn {
                background-color: aquamarine;
                font-size: 14px;
                text-align: center;
                padding: 10px 14px;
            }
        }

        &__total-products,
        &__delivery,
        &__total--after-discount {
            display: flex;
            justify-content: space-between;
            margin: 8px 0px;
        }

        &__total--after-discount {
            span {
                font-size: 20px;
                font-weight: 700;
                padding-right: 5px;
            }
        }
    }

    .summary-item {
        &:last-child {
            border-bottom: none;
        }
    }

    .total {
        font-size: 20px;
        font-weight: bold;
        color: #333;
    }
}