$color-primary: rgb(20, 83, 45);
$color-primary-light: #dbe5f5;
$color-primary-dark: #274d85;

$color-secondary: #272727;

$color-text-dark: #1a1a1a;
$color-text-light: #fff;
$color-text-price: #e12825;
$color-text-gray: #26262658;
$color-footer-trans: #f2f2f2;

$color-box-dark: #0000;

